modules = ["nodejs-20"]
run = "node foundation-detector.cjs"
hidden = [".config", ".git", "node_modules", "logs", ".trash"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Foundation Detector"

[[workflows.workflow]]
name = "Foundation Detector"
author = "dueuler"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node foundation-detector.cjs"

[[workflows.workflow]]
name = "Foundation Install"
author = "dueuler"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node foundation-installer.cjs"

[[workflows.workflow]]
name = "Foundation Remove"
author = "dueuler"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node foundation-remover.cjs"

[[workflows.workflow]]
name = "Foundation Status"
author = "dueuler"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash foundation.sh status"